In [13]:
! pip install panda

Requirement already satisfied: panda in c:\users\gkora\anaconda3\lib\site-packages (0.3.1)
Requirement already satisfied: setuptools in c:\users\gkora\anaconda3\lib\site-packages (from panda) (61.2.0)
Requirement already satisfied: requests in c:\users\gkora\anaconda3\lib\site-packages (from panda) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gkora\anaconda3\lib\site-packages (from requests->panda) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gkora\anaconda3\lib\site-packages (from requests->panda) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\gkora\anaconda3\lib\site-packages (from requests->panda) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\gkora\anaconda3\lib\site-packages (from requests->panda) (2.0.4)

In [14]:
pandas

In [4]:
import pandas

In [6]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\gkora\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gkora\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\gkora\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\gkora\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\gkora\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [7]:
import pandas

In [16]:
data = pandas.read_csv("London_mobility.csv")

In [17]:
print(data)

      country_region_code  country_region    sub_region_1  \
0                      GB  United Kingdom  Greater London
1                      GB  United Kingdom  Greater London
2                      GB  United Kingdom  Greater London
3                      GB  United Kingdom  Greater London
4                      GB  United Kingdom  Greater London
...                   ...             ...             ...
29643                  GB  United Kingdom  Greater London
29644                  GB  United Kingdom  Greater London
29645                  GB  United Kingdom  Greater London
29646                  GB  United Kingdom  Greater London
29647                  GB  United Kingdom  Greater London

                                sub_region_2  metro_area iso_3166_2_code  \
0                                        NaN         NaN             NaN
1                                        NaN         NaN             NaN
2                                        NaN         NaN             NaN
3                                        NaN         NaN             NaN
4                                        NaN         NaN             NaN
...                                      ...         ...             ...
29643  Royal Borough of Kingston upon Thames         NaN          GB-KTT
29644  Royal Borough of Kingston upon Thames         NaN          GB-KTT
29645  Royal Borough of Kingston upon Thames         NaN          GB-KTT
29646  Royal Borough of Kingston upon Thames         NaN          GB-KTT
29647  Royal Borough of Kingston upon Thames         NaN          GB-KTT

       census_fips_code                     place_id        date  \
0                   NaN  ChIJb-IaoQug2EcRi-m4hONz8S8  2020-02-15
1                   NaN  ChIJb-IaoQug2EcRi-m4hONz8S8  2020-02-16
2                   NaN  ChIJb-IaoQug2EcRi-m4hONz8S8  2020-02-17
3                   NaN  ChIJb-IaoQug2EcRi-m4hONz8S8  2020-02-18
4                   NaN  ChIJb-IaoQug2EcRi-m4hONz8S8  2020-02-19
...                 ...                          ...         ...
29643               NaN  ChIJ0ycUEikKdkgR6r_eW1XvlAQ  2022-07-01
29644               NaN  ChIJ0ycUEikKdkgR6r_eW1XvlAQ  2022-07-02
29645               NaN  ChIJ0ycUEikKdkgR6r_eW1XvlAQ  2022-07-03
29646               NaN  ChIJ0ycUEikKdkgR6r_eW1XvlAQ  2022-07-04
29647               NaN  ChIJ0ycUEikKdkgR6r_eW1XvlAQ  2022-07-05

       retail_and_recreation_percent_change_from_baseline  \
0                                                  -11.0
1                                                   -9.0
2                                                   11.0
3                                                    4.0
4                                                    3.0
...                                                  ...
29643                                              -16.0
29644                                              -22.0
29645                                              -17.0
29646                                              -13.0
29647                                              -21.0

       grocery_and_pharmacy_percent_change_from_baseline  \
0                                                   -8.0
1                                                  -11.0
2                                                    4.0
3                                                   -2.0
4                                                   -3.0
...                                                  ...
29643                                               -3.0
29644                                               -6.0
29645                                              -11.0
29646                                               -2.0
29647                                               -5.0

       parks_percent_change_from_baseline  \
0                                   -34.0
1                                   -41.0
2                                    28.0
3                                    11.0
4                                     3.0
...                                   ...
29643                                 NaN
29644                                92.0
29645                               144.0
29646                                 NaN
29647                                 NaN

       transit_stations_percent_change_from_baseline  \
0                                              -10.0
1                                               -9.0
2                                               -3.0
3                                               -4.0
4                                               -5.0
...                                              ...
29643                                          -25.0
29644                                          -12.0
29645                                           -2.0
29646                                          -27.0
29647                                          -25.0

       workplaces_percent_change_from_baseline  \
0                                         -3.0
1                                         -4.0
2                                        -13.0
3                                        -13.0
4                                        -13.0
...                                        ...
29643                                    -35.0
29644                                      5.0
29645                                      1.0
29646                                    -36.0
29647                                    -33.0

       residential_percent_change_from_baseline
0                                           2.0
1                                           1.0
2                                           2.0
3                                           2.0
4                                           3.0
...                                         ...
29643                                       7.0
29644                                      -1.0
29645                                      -2.0
29646                                       8.0
29647                                       7.0

[29648 rows x 15 columns]

In [18]:
data.describe()

,metro_area,census_fips_code,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
count,0.0,0.0,29630.000000,29636.000000,28470.000000,29648.000000,29348.000000,28670.000000
mean,NaN,NaN,-35.198515,-10.609225,29.684651,-44.401376,-41.012607,12.784200
std,NaN,NaN,24.474806,16.724432,54.474920,18.924428,20.667623,8.836266
min,NaN,NaN,-99.000000,-97.000000,-96.000000,-99.000000,-91.000000,-4.000000
25%,NaN,NaN,-53.000000,-17.000000,-4.000000,-58.000000,-56.000000,6.000000
50%,NaN,NaN,-29.000000,-8.000000,20.000000,-43.000000,-42.000000,12.000000
75%,NaN,NaN,-16.000000,0.000000,54.000000,-32.000000,-28.000000,18.000000
max,NaN,NaN,90.000000,54.000000,511.000000,71.000000,15.000000,42.000000

In [19]:
data_tuscany = pandas.read_csv("provinces_data.csv")

In [20]:
print(data_tuscany)

       Unnamed: 0   Location  day       date  total_number_positive_people  \
0               0         AR    0  24/2/2020                             0
1               1         FI    0  24/2/2020                             0
2               2         GR    0  24/2/2020                             0
3               3         LI    0  24/2/2020                             0
4               4         LU    0  24/2/2020                             0
...           ...        ...  ...        ...                           ...
10954       11796         PT  842  15/6/2022                         93378
10955       11797         SI  842  15/6/2022                         82487
10956       11799  aslCENTRO  842  15/6/2022                        497422
10957       11800      aslNO  842  15/6/2022                        418719
10958       11801      aslSE  842  15/6/2022                        251205

       deaths  deaths_increase
0           0         0.000000
1           0         0.000000
2           0         0.000000
3           0         0.000000
4           0         0.000000
...       ...              ...
10954     910         0.000000
10955     537         0.186567
10956    4936         0.000000
10957    3474         0.057604
10958    1585         0.126342

[10959 rows x 7 columns]

In [21]:
data_tuscany.describe()

,Unnamed: 0,day,total_number_positive_people,deaths,deaths_increase
count,10959.000000,10959.000000,10959.000000,10959.000000,10959.000000
mean,5900.230769,421.000000,45104.442741,757.986313,0.967533
std,3407.099412,243.364071,75885.899274,946.743112,7.056762
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2950.000000,210.000000,3316.000000,143.500000,0.000000
50%,5900.000000,421.000000,17846.000000,472.000000,0.000000
75%,8850.500000,632.000000,55322.000000,759.500000,0.377121
max,11801.000000,842.000000,497422.000000,4936.000000,300.000000